@use "./base.scss";

// put your custom CSS here!

article.popover-hint {
  p {
  text-indent: 16px;
  text-align: justify
}

    p:has(+ ul) {
      margin-bottom: 2px;
}

    blockquote > p {
      text-indent: 0px;
}

    #search-button > p {
      text-indent: 0px;
}
}
