@use "./base.scss";

// put your custom CSS here!

article {
  p {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2;
}
}


article.popover-hint {
  p {
  text-indent: 32px;
  text-align: justify;
}

    p:has(+ ul) {
      margin-bottom: 2px;
}

    blockquote > p {
      text-indent: 0px;
}

    #search-button > p {
      text-indent: 0px;
}
}

article p:has(> img) {
  text-indent: 0 !important;
}

